    <div class="success-container">
        <h2 class="success-title">Table Booking Successful</h2>
        <p class="success-message">Thank you, <span class="user-name">{{nameOfBooking}}</span>, for your booking!</p>
        <p class="success-message">Booking Details:</p>
        <ul class="booking-details">
            <li><strong>Date:</strong> {{ date }}</li>
            <li><strong>Time:</strong> {{ time }}</li>
            <li><strong>Number of Guests:</strong> {{ persons }}</li>
            <li><strong>Name:</strong> {{ nameOfBooking }}</li>
            <li><strong>Email:</strong> {{ email }}</li>
            <li><strong>Mobile Number:</strong> {{ mobile }}</li>
            <li><strong>Comments:</strong> {{ comments }}</li>
        </ul>
    </div>

