<header>
    <img
      src="../../assets/logo-for-the-family-restaurant-good-food-vector.jpg"
      alt=""
      id="restoLogo"/>
    <nav>
      <ul class="nav-links">
        <li><a href="#" routerLink="/Login">Sign-In</a></li>
        <li><a href="#" routerLink="/SignUp">Sign-Up</a></li>
      </ul>
    </nav>
  </header>
  <section class="hero">
    <h1>Welcome to Family Restaurant</h1>
    <p>Enjoy the finest dining experience in town.</p>
    <a href="#" class="cta-button">View Menu</a>
</section>


<section class="contact">
    <h2>Contact Us</h2>
    <p>Email: <a href="https://outlook.office.com/">info@Familyrestaurant.com</a> </p>
    <p>Phone: (938-074-9694)</p>
</section>
<footer>
    &copy; 2023 Family Restaurant . All rights reserved.
</footer>