<!-- <div class="images"><img src="../../assets/logo-for-the-family-restaurant-good-food-vector.jpg" alt="Restaurant Interior"></div> -->
<section class="hero">
    <div><img src="../../assets/logo-for-the-family-restaurant-good-food-vector.jpg" alt="Restaurant Interior"></div>
    
    <h1>About Us</h1>
</section>
<main>
    <div class="container">
        <h2>Our Story</h2>
        <p>Family Restaurant is sprouting its sapling in the beautiful, vibrant city of Fuquay Varina. We serve the most authentic, traditional Indian food, providing high standards in service and quality.</p>
        <h2>Our Team</h2>
        <p>We have a dedicated team of chefs, servers, and staff who are passionate about providing you with the best
            dining experience.</p>
    </div>
</main>
<footer>
    <p>&copy; 2023 Family Restaurant. All rights reserved.</p>
</footer>