.sucess{
    display: flex;
    justify-content: center;
    padding-top: 250px;
}
p{
    background-color: rgb(27, 251, 27);
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    color: slateblue;
}