<header>
    <h1>Food Ordering </h1>
    <img src="../../assets/logo-for-the-family-restaurant-good-food-vector.jpg" alt="" class="logo">
</header>

<div class="container">
    <h2>Menu</h2>
    <div class="food-items">
        <div class="food-item">
            <img src="../../assets/cheezyPizza.jpeg" alt="Food Item 1">
            <h2>Food Item 1</h2>
            <p>Cheezy Pizza</p>
            <button class="order-button">Order</button>
        </div>
        <div class="food-item">
            <img src="../../assets/hamburger cheeze.jpeg" alt="Food Item 2">
            <h2>Food Item 2</h2>
            <p>Hamburger Cheeze</p>
            <button class="order-button">Order</button>
        </div>
        <div class="food-item">
            <img src="../../assets/biriyani.jpeg" alt="Food Item 3" class="f3">
            <h2>Food Item 3</h2>
            <p>Hyderabad Biriyani</p>
            <button class="order-button">Order</button>
        </div>
        <div class="place-order-container">
            <button class="place-order-button">Place Order</button>
        </div>
    </div>
</div>




