<header>
    <h1>Food Ordering</h1>
    <img routerLink="/home" src="../../assets/logo-for-the-family-restaurant-good-food-vector.jpg" alt="" class="logo">
</header>
<div class="container">
    <h2>Menu</h2>
    <div class="food-items">
        <div class="food-item" *ngFor="let item of menuItems">
            <img [src]="item.image" alt="{{ item.name }}">
            <h2>{{ item.name }}</h2>
            <p>{{ item.description }}</p>
            <button class="order-button">Order</button>
        </div>
    </div>
</div>