<div class="container">
  <form class="sign-up-form" action="#">
    <h1>Sign Up</h1>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
    </div>
    <button  routerLink="/Login" type="submit">Sign Up</button>
  </form>
</div>
