<app-home-image></app-home-image><header>
    <h1>Restaurant Services</h1>
</header>
<section class="services">
    <div class="service">
        <h2>Menu Selection</h2>
        <p>Enjoy a wide variety of dishes carefully crafted by our chefs.</p>
    </div>
    <div class="service">
        <h2>Table Reservations</h2>
        <p>Book a table in advance to ensure a comfortable dining experience.</p>
    </div>
    <div class="service">
        <h2>Special Events</h2>
        <p>Host your special occasions and events in our elegant banquet halls.</p>
    </div>
    <div class="service">
        <h2>Catering Services</h2>
        <p>Let us cater your events with our delicious food and impeccable service.</p>
    </div>
</section>




<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>promiseeee>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->



<!-- <div>
    <button (click)="fetchData()">Fetch Data</button>
    <div *ngIf="data">
      <h2>Data Received:</h2>
      <pre>{{ data | json }}</pre>
    </div>
    <div *ngIf="error">
      <h2>Error:</h2>
      <p>{{ error }}</p>
    </div>
  </div> -->
  <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Observable>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->


  <!-- <ul>
    <li *ngFor="let post of posts">{{ post }}</li>
  </ul>
  <p>{{ post?.title }}</p>
   -->