<header>
  <img
    src="../../assets/Akashdeep pvtltd Logo.jpg"
    alt=""
    id="restoLogo"/>
  <nav>
    <ul class="nav-links">
      <li><a href="#" routerLink="/MenuSelection">About</a></li>
      <li><a href="#" routerLink="/Services">Services</a></li>
      <li><a href="#" routerLink="/About">Menu</a></li>
      <li><a href="#" routerLink="/OrderOnline">Food Products</a></li>
      <li><a href="#" routerLink="/Contact">Contact</a></li>
      <li><a href="#" routerLink="/OrderOnline">Order Online</a></li>
      <li class="logout"><a href="#" routerLink="/Login">Login</a></li>
    </ul>
  </nav>
</header>
<hr class="bar">
<h1 class="heading">SHRI AKASHDEEPA FOOD PRIVATE LIMITED</h1>
<div class="body">
 
  <div class="special-feature-container">
    <div class="special-features">
    
    <div class="special-feature">
      <img
        src="../../assets/Mane Aduge Logo.jpg"
        alt="Mane Aduge Halli Uta"
        class="feature-image"
      />
      <div class="feature-content">
        <h2>Mane Aduge Halli Uta</h2>
        <p>
          Experience the authentic taste of rural Karnataka with our "Mane Aduge
          Halli Uta" - a wholesome, traditional meal that combines the richness
          of fresh, local ingredients and time-honored recipes. Enjoy dishes
          like Ragi Mudde, Soppu Saaru, Ghee Rice, and more, served with love
          and warmth that reminds you of home.
        </p>
        <button class="order-now-button">Order Now</button>
      </div>
    </div>

    <!-- Mane Aduge Halli Tindi Card -->
    <div class="special-feature">
      <img
        src="../../assets/Mane aduge halli tindi.jpeg"
        alt="Mane Aduge Halli Tindi"
        class="feature-image"
      />
      <div class="feature-content">
        <h2>Mane Aduge Halli Tindi</h2>
        <p>
          Relish the flavors of traditional Karnataka breakfasts with "Mane
          Aduge Halli Tindi." From crispy Ragi Rotti to soft Akki Rotti,
          flavorful Chutneys, and the ever-delicious Benne Dose, our Halli Tindi
          menu brings you the best of Karnataka's culinary heritage for a
          perfect start to your day.
        </p>
        <button class="order-now-button">Order Now</button>
      </div>
    </div>
  </div>
</div>
</div>

<app-slideshow></app-slideshow>
<div class="special-offer-container">
  <h1>Today's Special </h1>
  <h1>&#8595;</h1>
  <div class="special-food">
    <img
      src="../../assets/BiriyaniSpecial.jpeg"
      alt="Special Offer Image"
      class="offer-image"
    />
    <h2>Special Hyderabad Dum Biriyani</h2>
    <p class="Template"><strong>Special Hyderabad Dum Biriyani</strong></p>
    <p>
      Hyderabad Dum Biriyani, a world-famous Indian delicacy, requires time and
      experience to prepare but is well worth the effort. Long-grained rice
      seasoned with aromatic spices like saffron and stacked with tender and
      juicy chicken in a rich sauce. The dish is then covered, and the lid is
      fastened with dough before the biryani is cooked over low heat. This is
      unquestionably a special occasion meal.
    </p>
  </div>

  <div class="special-food">
    <img
      src="../../assets/How-to-Make-North-Indian-Thali-Vegetarian-7.webp"
      alt="Special Offer Image"
      class="offer-image"
    />
    <h2>Thali</h2>
    <p class="Template"><strong>North-Indian-Thali</strong></p>
    <p class="description">
      It is a complete meal in itself that serves all the nutrients required for
      a balanced diet. The typical dishes of a North Indian Thali include dal
      (lentil), rice, vegetable curry, roti (flat bread), dahi (yogurt), papad,
      salad, a small amount of chutney or pickle and a sweet dish.
    </p>
  </div>

  <div class="special-food">
    <img
      src="../../assets/benne dosa.jfif"
      alt="Special Offer Image"
      class="offer-image"
    />
    <h2>Davangere Benne Dose</h2>
    <p class="Template"><strong>Benne Dose</strong></p>
    <p class="description">
      Davanagere Benne Dose is made from rice and urad dal batter fermented
      overnight. Light and crispy frying, topped with butter makes Davanagere
      benne Dose special.
    </p>
  </div>

  <div class="features">
    <div class="feature">
      <span class="feature-icon"><span>&#10003;</span></span>
      Quality and Fresh Ingredients
    </div>
    <div class="feature">
      <span class="feature-icon"><span>&#10003;</span></span>
      House-made from scratch
    </div>
    <div class="feature">
      <span class="feature-icon"><span>&#10003;</span></span>
      Authentic Original Taste
    </div>
  </div>

  <button class="order-button">Order Now</button>
</div>
<div class="client-reviews-container">
  <h2>Our Clients Reviews</h2>
  <p class="sayabtus">What our clients say about us</p>
  <div class="star-ratings">
    <span class="star">&#9733;</span>
    <span class="star">&#9733;</span>
    <span class="star">&#9733;</span>
    <span class="star">&#9733;</span>
    <span class="star">&#9733;</span>
  </div>
</div>

<div class="client-reviews-container">
  <div class="client-review">
    <h3>Ganavi</h3>
    <p class="review-meta">Local Guide</p>
    <p>The ambience of the pace is superb.</p>
  </div>

  <div class="client-review">
    <h3>Santhosh</h3>
    <p class="review-meta">Local Guide</p>
    <p>Excellent food and great service .</p>
  </div>

  <div class="client-review">
    <h3>Aishwarya</h3>
    <p class="review-meta">Local Guide</p>
    <p>
      The food was authentic and delicious. The menu is reasonably priced and
      the portion was generous; I couldn’t finish my plate and ended up asking
      for a box to takeout. Employees were super nice and welcoming. Will visit
      this place again!
    </p>
  </div>

  <div class="client-review">
    <h3>Hemanth</h3>
    <p class="review-meta">Local Guide</p>
    <p>
      This is a best family restaurant with lot of very nice item on their menu,
      including the very good vegetarian items. The dal tadka is simply superb.
    </p>
  </div>

  <a href="#" class="view-all-reviews">View All Reviews</a>
</div>
<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <img
        src="../../assets/logo-for-the-family-restaurant-good-food-vector.jpg"
        alt="Hotel Logo"
        id="footerimg"
      />
    </div>
    <div class="footer-contact">
      <p>#2188 Nuthan collage Road Near coffee day Vidhya Nagar</p>
      <p>Davangere -577005</p>
      <p>Email: akashdeepafoodsdvg@gmail.com</p>
      <p>Phone: +91-63-6354 3487 , +91-799 6666 199</p>
    </div>
    <div class="footer-social">
      <a href="#"
        ><img src="../../assets/fb.png" alt="Facebook" class="fb"
      /></a>
      <a href="#"
        ><img src="../../assets/twitte.png" alt="Twitter" class="tw"
      /></a>
      <a href="#"
        ><img src="../../assets/insta.jfif" alt="Instagram" class="insta"
      /></a>
    </div>
    <div class="footer-menu">
      <ul>
        <li><a href="http://localhost:4200/home">Home</a></li>
        <li><a href="http://localhost:4200/Services">Services</a></li>
        <li><a href="http://localhost:4200/Contact" routerLink="/Contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Your Hotel. All rights reserved.</p>
  </div>
</footer>
