#restoLogo{
    width: 140px;
    position: absolute;
    height: 90px;
    border-radius: 10px;
    padding-top: 30px;
}
#homePageImage{
    margin: 100;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
header {
    background-color: #0a0909; 
    color: #fff; 
    padding: 20px; 
    
}
.nav-links{
    display: flex;
    justify-content: end; 
    align-items: center; 
    list-style-type: none;
    margin: 1px;
}
ul > li > a{
    text-decoration: none  ;
    padding: 25px;
    color: #ffff;
    font-style: italic;
}
ul > li > a:hover{
    border-radius: 8px;
    color: #67a9f1;
}
.heading{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.body{
    background-image: url(../../assets/backgroundImage.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    min-height: 70vh;
    height: 77vh;
}

.bookTableButton {
    background-color: #007BFF;
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    width: 15vw;
    height: 8vh;
    margin: 2%;
    margin-top: 15%;
    border-radius: 30px;
    margin-left: 300px;
    font-style: italic;
}
.bookTableButton:hover {
    background-color: #0056b3; 
}
h2{
    display: flex;
    justify-content: center;
    color: beige;
    font-style: italic;
    padding-top: 50px;
}



