.success-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #06e10e;
    border-radius: 10px;
    margin-top: 100px;
    color: #fff;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .success-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .success-message {
    font-size: 18px;
    margin: 10px 0;
  }
 
  .user-name {
    font-weight: bold;
    text-decoration: underline;
    color: red;
  }
  .billing-address {
    font-style: italic;
    color: red;
    font-weight: 900;
    text-decoration: underline;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .success-container {
    animation: fadeIn 0.5s ease-in-out;
  }
    