<app-home-image></app-home-image><div class="success-container">
    <h2 class="success-title">Payment Successful</h2>
    <p class="success-message">Thank you <span class="user-name">{{name}}</span>, for your payment!</p>
    <p class="success-message">Your billing address: <span class="billing-address">{{billingAddress}}</span></p>
    <div class="payment-details">
        <p><strong>Selected Option:</strong> <span class="payment-info">{{selectedOption}}</span></p>
        <p><strong>Card Type:</strong> <span class="payment-info">{{cardType}}</span></p>
    </div>
</div>
